class UnlockableController < ApplicationController
  include Mochi::Controllers::UnlockController

  def update
<% if @orm == "granite" -%>
    User.find_by(unlock_token: params[:unlock_token])
<% end -%>
<% if @orm == "jennifer" -%>
    User.where { _unlock_token == params[:unlock_token] }.first
<% end -%>
    unlock_update()
  end

  private def resource_params
    params.validation do
      required :unlock_token
    end
  end
end
