class <%= class_name %>Controller < Mochi::Controllers::UserController
  def show
    super
  end

  def new
    super
  end

  def edit
    super
  end

  def create
    super
  end

  def update
    super
  end

  def destroy
    super
  end
end
