class Omniauthable::<%= class_name %>Controller < ApplicationController
  include Mochi::Controllers::Omniauthable::UserController

  def create
    omniauth_user_create
  end

  def callback
    omniauth_user_callback
  end

  def resource_params
    params.validation do
      required :provider
      optional :code
    end
  end
end
