class PasswordController < ApplicationController
  include Mochi::Controllers::PasswordController

  getter user = User.new

  def new
    recovery_new
  end

  # Used to create a new password recovery
  def create
    recovery_create
  end

  # Used to confirm & reactive a user account
  def update
    recovery_update
  end

  private def resource_params
    params.validation do
      optional :email
      optional :new_password
      optional :reset_token
    end
  end
end