class PasswordController < Mochi::Controllers::PasswordController

  def new
    super
  end

  # Used to create a new password recovery
  def create
    super
  end

  # Used to confirm & reactive a user account
  def update
    super
  end
end