<h1>Recover Password</h1>

<%- if user.errors %>
  <ul class="errors">
  <%- user.errors.each do |error| %>
    <li><%= error.to_s %></li>
  <%- end %>
  </ul>
<%- end %>

<form action="/reset/password" method="post">
  <%= csrf_tag %>
  <div class="form-group">
    <input class="form-control" type="email" name="email" placeholder="Email"/>
  </div>
  <button class="btn btn-success btn-sm" type="submit">Recover Account</button>
</form>
<hr/>
