<h1>Create Invite</h1>

<%="<"%>%- if <%= @name %>.errors %>
  <ul class="errors">
  <%="<"%>%- <%= @name %>.errors.each do |error| %>
    <li><%="<"%>%= error.to_s %></li>
  <%="<"%>%- end %>
  </ul>
<%="<"%>%- end %>

<form action="/invite" method="post">
  <%="<"%>%= csrf_tag %>
  <div class="form-group">
    <input class="form-control" type="email" name="email" placeholder="Email"/>
  </div>
  <button class="btn btn-success btn-sm" type="submit">Invite</button>
</form>
<hr/>
