class SessionController < Mochi::Controllers::Authenticable::SessionController
  def new
    super
  end

  def create
<% if @orm == "granite" -%>
    user = User.find_by(email: params["email"].to_s)
<% end -%>
<% if @orm == "jennifer" -%>
    user = User.where { _email == params["email"].to_s }.first
<% end -%>
    super(user)
  end

  def destroy
    super
  end

  private def user_params
    params.validation do
      required :email
      required :password
    end
  end
end
